/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.container {
    width: 1400px;
    margin: 0 auto;
    padding-bottom: 30px;
}

/* Nav-bar styling */
.nav-bar {
    width: inherit;
    background-color: black;
    padding-top: 25px;
    padding-bottom: 25px;
    display: flex;
    align-items: center;
}
.nav-bar h1 {
    color: white;
    font-weight: normal;
    margin-left: 160px;
    font-size: 250%;
}
.nav-bar div a{
    color: white;
    text-decoration: none;
    margin: 0px 30px;
    font-size: 120%;
}
.home-link {
    margin-left: 60px;
}
.profile-link {
    font-weight: bold;
}
button {
    color: white;
    background-color: rgb(21, 163, 184);
    padding: 3px 15px;
    font-size: large;
    margin-left: 310px;
}

/* User-card styling */
.row {
    display: flex;
}
.user-card {
    padding: 30px 30px 30px 160px;
    width: 680px;
}
.user-card-header {
    background-color: rgb(21, 163, 184);
    height: 150px;
}
.card-bottom {
    border: 4px solid rgb(210, 210, 210);
    border-top: none;
}
.user-avatar {
    border-radius: 50%;
    width: 130px;
    border: 5px solid black;
    outline: 3px solid white;
    box-shadow: 0px 0px 0px 6px rgb(210, 210, 210);
    margin: 75px 50px 50px;
}
.user-card-description {
    padding: 75px 0px 30px 50px;
}
.user-card-description h1 {
    font-size: 300%;
}
.user-card-description div img {
    width: 15px;
    margin-top: 15px;
    position: relative;
    top: 5px;
}
.user-card-description label {
    font-size: 140%;
    margin: 0px 10px;
}
.user-card-description h3 {
    font-weight: normal;
    margin: 15px 0px;
}
.user-card-description p img {
    width: 20px;
}
#settings {
    vertical-align: top;
    color: rgb(78, 140, 231);
    margin-left: 5px;
}

/* Education styling */
.education {
    width: 680px;
    padding: 0px 30px 30px 160px;
}
.education-header h2 {
    background-color: rgb(51, 51, 51);
    color: rgb(210, 210, 210);
    padding: 20px 0px 20px 50px;
    font-weight: normal;
}
.education-description {
    padding-bottom: 30px;
}
.education-description h2 {
    padding: 25px 0px 10px 46px;
}
#date {
    padding-left: 46px;
    padding-bottom: 25px;
    color:rgb(140, 140, 140);
}
.education-description h3 {
    padding-left: 46px;
}

/* Connection Requests styling */
.right {
    padding-top: 30px;
}
.connection-header {
    display: flex;
    text-align: left;
}
.connection-header h2 {
    background-color: rgb(51, 51, 51);
    color:rgb(210, 210, 210);
    font-weight: normal;
    padding: 25px 38px 25px 25px;
    height: 40px;
    text-align: left;
}
#connection-requests-number {
    background-color: rgb(210, 210, 210);
    color:rgb(51, 51, 51);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}
.connection-avatar {
    border-radius: 50%;
    width: 60px;
    margin-left: 20px;
    border: 2px solid black;
}
.connection-requests .row {
    align-items: center;
}
.name {
    width: 140px;
    font-size: 150%;
    padding-left: 10px;
    padding-bottom: 10px;
    margin-right: 10px;
}
.accept {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}
#connection {
    padding: 15px 0px 0px;
}
#connection2 {
    padding: 15px 0px 15px;
}

/* Your connections styling */
.your-connections {
    padding-top: 30px;
}
.your-connections .connection-header h3{
    height: 40px;
}
#your-connections-number {
    background-color: rgb(210, 210, 210);
    color:rgb(51, 51, 51);
    border-radius: 50%;
    width: 80px;
    height: 40px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
}
#your-connection, #your-connection2, #your-connection3 {
    padding: 15px 0px 0px;
}
#your-connection4 {
    padding: 15px 0px 15px;
}
#view-more {
    color: rgb(78, 140, 231);
    padding-left: 25px;
    font-size: 18px;
}
#view-bottom {
    padding: 15px 0px;
}
.connection-name {
    margin-left: 10px;
    margin-top: 10px;
}